<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>キャンセルされた受講生一覧</title>
</head>
<body>
<h1>キャンセルされた受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>復元</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${canceledStudentList}">
    <td th:text="${studentDetail.student.id}">1</td>
    <td th:text="${studentDetail.student.name}">山田太郎</td>
    <td>
      <form th:action="@{/restoreStudent}" method="post">
        <input type="hidden" name="studentId" th:value="${studentDetail.student.id}" />
        <button type="submit">復元</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/studentList">受講生一覧</a>
</body>
</html>
